In [1]:
# Import the pandas library

import pandas as pd
pd.options.display.max_rows = 10

In [2]:
# Read in the data

crimes_df = pd.read_csv("crime_data.csv")

crimes_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
0,151521112,11/04/2015,11/03/2015,2230,NaN,N Hollywood,1555.0,330.0,BURGLARY FROM VEHICLE,0344,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CAMARILLO ST,NaN,"(34.1577, -118.3727)"
1,151521113,11/04/2015,10/30/2015,200,NaN,N Hollywood,1548.0,330.0,BURGLARY FROM VEHICLE,0344 1609 1307,...,NaN,IC,Invest Cont,330.0,NaN,NaN,NaN,11100 CHANDLER BL,NaN,"(34.1681, -118.3724)"
2,151521117,11/04/2015,11/04/2015,1400,NaN,N Hollywood,1506.0,930.0,CRIMINAL THREATS - NO WEAPON DISPLAYED,0421,...,VERBAL THREAT,JA,Juv Arrest,930.0,NaN,NaN,NaN,7300 BAKMAN AV,NaN,"(34.203, -118.3779)"
3,151521121,11/04/2015,04/28/2015,2125,NaN,N Hollywood,1567.0,121.0,"RAPE, FORCIBLE",2000 0429 1241 0416 0400 0527 1813 2002,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,121.0,NaN,NaN,NaN,10700 LANDALE ST,NaN,"(34.1513, -118.3642)"
4,151521123,11/05/2015,10/27/2015,600,NaN,N Hollywood,1515.0,354.0,THEFT OF IDENTITY,0100 1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,11700 LEMAY ST,NaN,"(34.1912, -118.3891)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417493,170101201,10/01/2017,10/01/2017,1550,NaN,Central,127.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0449 2000 0305,...,SCISSORS,AA,Adult Arrest,230.0,NaN,NaN,NaN,1ST ST,SAN PEDRO,"(34.0504, -118.2409)"
417494,170101202,10/01/2017,10/01/2017,400,NaN,Central,143.0,310.0,BURGLARY,0344 0358 0329,...,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,310.0,NaN,NaN,NaN,400 S BROADWAY,NaN,"(34.0495, -118.2494)"
417495,170101204,10/01/2017,10/01/2017,1835,NaN,Central,147.0,624.0,BATTERY - SIMPLE ASSAULT,0446 0416,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,624.0,NaN,NaN,NaN,300 E 5TH ST,NaN,"(34.0453, -118.2443)"
417496,170101208,10/02/2017,10/02/2017,1530,NaN,Central,147.0,740.0,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",2004 0329 1300,...,NaN,AA,Adult Arrest,740.0,NaN,NaN,NaN,5TH ST,SAN PEDRO,"(34.0442, -118.2439)"
417497,170718668,11/17/2017,11/15/2017,2000,NaN,Wil,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Drop crimes not from 2016

crimes_df = crimes_df[crimes_df["Date Occurred"].str[-4 : ] == "2016"]

crimes_df

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Weapon Description,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location
1723,160211540,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,HAND GUN,AA,Adult Arrest,230.0,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)"
1784,160211541,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,HAND GUN,AO,Adult Other,230.0,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)"
2273,160211542,05/30/2016,05/30/2016,230,NaN,Rampart,295.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416 0417 1218 2004 1814,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,626.0,NaN,NaN,NaN,VENICE,BURLINGTON,"(34.0426, -118.2814)"
3184,160211543,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,HAND GUN,AO,Adult Other,230.0,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)"
22111,160211544,05/30/2016,05/29/2016,1845,NaN,Rampart,219.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0444 1814,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,626.0,NaN,NaN,NaN,900 E EDGEWARE RD,NaN,"(34.0698, -118.2528)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417109,192104038,01/02/2019,12/01/2016,1200,NaN,Topanga,2175.0,354.0,THEFT OF IDENTITY,1822 0930,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,22100 BURBANK BL,NaN,"(34.172, -118.6084)"
417110,192104956,01/22/2019,01/01/2016,1,NaN,Topanga,2129.0,627.0,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,0913 0552 1258 1601,...,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,627.0,NaN,NaN,NaN,19900 LORNE ST,NaN,"(34.2172, -118.5667)"
417111,192105356,01/31/2019,11/29/2016,1000,NaN,Topanga,2133.0,815.0,SEXUAL PENETRATION W/FOREIGN OBJECT,0515 0510 0913,...,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,815.0,NaN,NaN,NaN,7300 WOODLAKE AV,NaN,"(34.2023, -118.6322)"
417112,192106103,02/16/2019,08/01/2016,1,NaN,Topanga,2134.0,354.0,THEFT OF IDENTITY,0377 1822,...,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,22300 SATICOY ST,NaN,"(34.2083, -118.6125)"
417113,192106204,02/19/2019,12/01/2016,1300,NaN,Topanga,2185.0,310.0,BURGLARY,0344,...,NaN,IC,Invest Cont,310.0,NaN,NaN,NaN,22200 VENTURA BL,NaN,"(34.1688, -118.6103)"

In [4]:
from datetime import datetime
import calendar

In [5]:
# Find the day of the week the crime occurred

def date_to_datetime(date):
    month, day, year = date.split("/")
    return datetime(int(year), int(month), int(day))

def date_to_weekday(date):
    weekday_num = date_to_datetime(date).weekday()
    return calendar.day_name[weekday_num]

crimes_df["Day Occurred"] = crimes_df["Date Occurred"].apply(date_to_weekday)

crimes_df

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Status Code,Status Description,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,Day Occurred
1723,160211540,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,AA,Adult Arrest,230.0,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)",Sunday
1784,160211541,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,AO,Adult Other,230.0,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)",Sunday
2273,160211542,05/30/2016,05/30/2016,230,NaN,Rampart,295.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416 0417 1218 2004 1814,...,IC,Invest Cont,626.0,NaN,NaN,NaN,VENICE,BURLINGTON,"(34.0426, -118.2814)",Monday
3184,160211543,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,AO,Adult Other,230.0,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)",Sunday
22111,160211544,05/30/2016,05/29/2016,1845,NaN,Rampart,219.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0444 1814,...,AO,Adult Other,626.0,NaN,NaN,NaN,900 E EDGEWARE RD,NaN,"(34.0698, -118.2528)",Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417109,192104038,01/02/2019,12/01/2016,1200,NaN,Topanga,2175.0,354.0,THEFT OF IDENTITY,1822 0930,...,IC,Invest Cont,354.0,NaN,NaN,NaN,22100 BURBANK BL,NaN,"(34.172, -118.6084)",Thursday
417110,192104956,01/22/2019,01/01/2016,1,NaN,Topanga,2129.0,627.0,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,0913 0552 1258 1601,...,IC,Invest Cont,627.0,NaN,NaN,NaN,19900 LORNE ST,NaN,"(34.2172, -118.5667)",Friday
417111,192105356,01/31/2019,11/29/2016,1000,NaN,Topanga,2133.0,815.0,SEXUAL PENETRATION W/FOREIGN OBJECT,0515 0510 0913,...,IC,Invest Cont,815.0,NaN,NaN,NaN,7300 WOODLAKE AV,NaN,"(34.2023, -118.6322)",Tuesday
417112,192106103,02/16/2019,08/01/2016,1,NaN,Topanga,2134.0,354.0,THEFT OF IDENTITY,0377 1822,...,IC,Invest Cont,354.0,NaN,NaN,NaN,22300 SATICOY ST,NaN,"(34.2083, -118.6125)",Monday
417113,192106204,02/19/2019,12/01/2016,1300,NaN,Topanga,2185.0,310.0,BURGLARY,0344,...,IC,Invest Cont,310.0,NaN,NaN,NaN,22200 VENTURA BL,NaN,"(34.1688, -118.6103)",Thursday

In [6]:
# Calculate the days until the crime was reported

def days_to_report(dates):
    reported, occurred = dates
    reported_dt = date_to_datetime(reported)
    occurred_dt = date_to_datetime(occurred)
    return (reported_dt - occurred_dt).days

crimes_df["Days To Report"] = crimes_df[
    ["Date Reported", "Date Occurred"]
].apply(days_to_report, axis=1)

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [7]:
# Calculates the day of the year (0-365) that the crime took place

def day_of_year(date):
    month, day, year = date.split("/")
    from_date = datetime(2016, 1, 1)
    return (datetime(int(year), int(month), int(day)) - from_date).days

crimes_df["Day of Year"] = crimes_df["Date Occurred"].apply(day_of_year)

crimes_df

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,Day Occurred,Days To Report,Day of Year
1723,160211540,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,230.0,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)",Sunday,1,149
1784,160211541,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,230.0,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)",Sunday,1,149
2273,160211542,05/30/2016,05/30/2016,230,NaN,Rampart,295.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416 0417 1218 2004 1814,...,626.0,NaN,NaN,NaN,VENICE,BURLINGTON,"(34.0426, -118.2814)",Monday,0,150
3184,160211543,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,230.0,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)",Sunday,1,149
22111,160211544,05/30/2016,05/29/2016,1845,NaN,Rampart,219.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0444 1814,...,626.0,NaN,NaN,NaN,900 E EDGEWARE RD,NaN,"(34.0698, -118.2528)",Sunday,1,149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417109,192104038,01/02/2019,12/01/2016,1200,NaN,Topanga,2175.0,354.0,THEFT OF IDENTITY,1822 0930,...,354.0,NaN,NaN,NaN,22100 BURBANK BL,NaN,"(34.172, -118.6084)",Thursday,762,335
417110,192104956,01/22/2019,01/01/2016,1,NaN,Topanga,2129.0,627.0,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,0913 0552 1258 1601,...,627.0,NaN,NaN,NaN,19900 LORNE ST,NaN,"(34.2172, -118.5667)",Friday,1117,0
417111,192105356,01/31/2019,11/29/2016,1000,NaN,Topanga,2133.0,815.0,SEXUAL PENETRATION W/FOREIGN OBJECT,0515 0510 0913,...,815.0,NaN,NaN,NaN,7300 WOODLAKE AV,NaN,"(34.2023, -118.6322)",Tuesday,793,333
417112,192106103,02/16/2019,08/01/2016,1,NaN,Topanga,2134.0,354.0,THEFT OF IDENTITY,0377 1822,...,354.0,NaN,NaN,NaN,22300 SATICOY ST,NaN,"(34.2083, -118.6125)",Monday,929,213
417113,192106204,02/19/2019,12/01/2016,1300,NaN,Topanga,2185.0,310.0,BURGLARY,0344,...,310.0,NaN,NaN,NaN,22200 VENTURA BL,NaN,"(34.1688, -118.6103)",Thursday,810,335

In [8]:
# Pulls the sunrise and sunset times for 2016 from sunrise-sunset.org

import requests
from time import sleep
from datetime import timedelta
from pytz import timezone
import pytz

def UTC_to_PST(time_str):
    date, time_and_zone = time_str.split("T")
    year, month, day = date.split("-")
    time_of_day, time_zone = time_and_zone.split("+")
    hour, minute, second = time_of_day.split(":")
    return int(datetime(int(year), int(month), int(day), 
                        int(hour), int(minute), 
                        tzinfo=pytz.utc).
               astimezone(timezone("US/Pacific")).
               strftime("%H%M"))
    
LAlat = 34.073851
LAlong = -118.242147

rows = []
curr_day = datetime(2016, 1, 1)

while curr_day <= datetime(2016, 12, 31):
    
    resp = requests.get(
        "https://api.sunrise-sunset.org/json?lat={0}&lng={1}&date={2}&formatted=0".format(
            LAlat, LAlong, curr_day.strftime("%Y-%m-%d")))
    resp_json = resp.json()
    
    sunrise = resp_json["results"]["sunrise"]
    sunset = resp_json["results"]["sunset"]
    
    rows.append({
        "date" : curr_day.strftime("%m/%d/%Y"),
        "sunrise" : UTC_to_PST(sunrise),
        "sunset" : UTC_to_PST(sunset)
    })
    
    curr_day = curr_day + timedelta(days=1)
    
    sleep(0.05)
    
sunset_df = pd.DataFrame(rows).set_index("date")

sunset_df

            sunrise  sunset
date
01/01/2016      658    1654
01/02/2016      658    1655
01/03/2016      658    1656
01/04/2016      659    1657
01/05/2016      659    1657
...             ...     ...
12/27/2016      657    1651
12/28/2016      657    1652
12/29/2016      658    1653
12/30/2016      658    1653
12/31/2016      658    1654

[366 rows x 2 columns]

In [9]:
# Determine whether the crime occurred at night or during the day

def time_of_day(date_time):
    
    date, time = date_time
    sunset_day = sunset_df.loc[date]
    sunrise = sunset_day.loc["sunrise"]
    sunset = sunset_day.loc["sunset"]
    
    time_of_day = "NIGHT"
    if sunrise <= time <= sunset:
        time_of_day = "DAY"
    return time_of_day

crimes_df["Time of Day"] = crimes_df[
    ["Date Occurred", "Time Occurred"]
].apply(time_of_day, axis=1)

crimes_df

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Crime Code 2,Crime Code 3,Crime Code 4,Address,Cross Street,Location,Day Occurred,Days To Report,Day of Year,Time of Day
1723,160211540,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)",Sunday,1,149,DAY
1784,160211541,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)",Sunday,1,149,DAY
2273,160211542,05/30/2016,05/30/2016,230,NaN,Rampart,295.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416 0417 1218 2004 1814,...,NaN,NaN,NaN,VENICE,BURLINGTON,"(34.0426, -118.2814)",Monday,0,150,NIGHT
3184,160211543,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,NaN,NaN,NaN,200 N BOYLSTON ST,NaN,"(34.0642, -118.257)",Sunday,1,149,DAY
22111,160211544,05/30/2016,05/29/2016,1845,NaN,Rampart,219.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0444 1814,...,NaN,NaN,NaN,900 E EDGEWARE RD,NaN,"(34.0698, -118.2528)",Sunday,1,149,DAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417109,192104038,01/02/2019,12/01/2016,1200,NaN,Topanga,2175.0,354.0,THEFT OF IDENTITY,1822 0930,...,NaN,NaN,NaN,22100 BURBANK BL,NaN,"(34.172, -118.6084)",Thursday,762,335,DAY
417110,192104956,01/22/2019,01/01/2016,1,NaN,Topanga,2129.0,627.0,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,0913 0552 1258 1601,...,NaN,NaN,NaN,19900 LORNE ST,NaN,"(34.2172, -118.5667)",Friday,1117,0,NIGHT
417111,192105356,01/31/2019,11/29/2016,1000,NaN,Topanga,2133.0,815.0,SEXUAL PENETRATION W/FOREIGN OBJECT,0515 0510 0913,...,NaN,NaN,NaN,7300 WOODLAKE AV,NaN,"(34.2023, -118.6322)",Tuesday,793,333,DAY
417112,192106103,02/16/2019,08/01/2016,1,NaN,Topanga,2134.0,354.0,THEFT OF IDENTITY,0377 1822,...,NaN,NaN,NaN,22300 SATICOY ST,NaN,"(34.2083, -118.6125)",Monday,929,213,NIGHT
417113,192106204,02/19/2019,12/01/2016,1300,NaN,Topanga,2185.0,310.0,BURGLARY,0344,...,NaN,NaN,NaN,22200 VENTURA BL,NaN,"(34.1688, -118.6103)",Thursday,810,335,DAY

In [10]:
# Convert the Location column into a column with latitude and a column with longitude

location_df = crimes_df["Location "].str.replace(r"[^0-9-,.]", "").str.split(",", 1, expand=True)

crimes_df["Location Lat"] = location_df[0].astype(float)
crimes_df["Location Lng"] = location_df[1].astype(float)

crimes_df.drop("Location ", axis=1, inplace=True)

crimes_df

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\tyler\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Crime Code 3,Crime Code 4,Address,Cross Street,Day Occurred,Days To Report,Day of Year,Time of Day,Location Lat,Location Lng
1723,160211540,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,NaN,NaN,200 N BOYLSTON ST,NaN,Sunday,1,149,DAY,34.0642,-118.2570
1784,160211541,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,NaN,NaN,200 N BOYLSTON ST,NaN,Sunday,1,149,DAY,34.0642,-118.2570
2273,160211542,05/30/2016,05/30/2016,230,NaN,Rampart,295.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416 0417 1218 2004 1814,...,NaN,NaN,VENICE,BURLINGTON,Monday,0,150,NIGHT,34.0426,-118.2814
3184,160211543,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,NaN,NaN,200 N BOYLSTON ST,NaN,Sunday,1,149,DAY,34.0642,-118.2570
22111,160211544,05/30/2016,05/29/2016,1845,NaN,Rampart,219.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0444 1814,...,NaN,NaN,900 E EDGEWARE RD,NaN,Sunday,1,149,DAY,34.0698,-118.2528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417109,192104038,01/02/2019,12/01/2016,1200,NaN,Topanga,2175.0,354.0,THEFT OF IDENTITY,1822 0930,...,NaN,NaN,22100 BURBANK BL,NaN,Thursday,762,335,DAY,34.1720,-118.6084
417110,192104956,01/22/2019,01/01/2016,1,NaN,Topanga,2129.0,627.0,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,0913 0552 1258 1601,...,NaN,NaN,19900 LORNE ST,NaN,Friday,1117,0,NIGHT,34.2172,-118.5667
417111,192105356,01/31/2019,11/29/2016,1000,NaN,Topanga,2133.0,815.0,SEXUAL PENETRATION W/FOREIGN OBJECT,0515 0510 0913,...,NaN,NaN,7300 WOODLAKE AV,NaN,Tuesday,793,333,DAY,34.2023,-118.6322
417112,192106103,02/16/2019,08/01/2016,1,NaN,Topanga,2134.0,354.0,THEFT OF IDENTITY,0377 1822,...,NaN,NaN,22300 SATICOY ST,NaN,Monday,929,213,NIGHT,34.2083,-118.6125
417113,192106204,02/19/2019,12/01/2016,1300,NaN,Topanga,2185.0,310.0,BURGLARY,0344,...,NaN,NaN,22200 VENTURA BL,NaN,Thursday,810,335,DAY,34.1688,-118.6103

In [11]:
import numpy as np

# Replace the age with NaN if sex is unknown

def convert_age_nan(age_sex):
    
    age, sex = age_sex
    
    # Indicates sex is NaN
    if sex == "X":
        age = np.nan
    
    return age

# Takes the victim sex to ensure that all age = 0.0 aren't changed
crimes_df["Victim Age"] = crimes_df[
    ["Victim Age", "Victim Sex"]
].apply(convert_age_nan, axis=1)

crimes_df

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,DR Number,Date Reported,Date Occurred,Time Occurred,Area ID,Area Name,Reporting District,Crime Code,Crime Code Description,MO Codes,...,Crime Code 3,Crime Code 4,Address,Cross Street,Day Occurred,Days To Report,Day of Year,Time of Day,Location Lat,Location Lng
1723,160211540,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,NaN,NaN,200 N BOYLSTON ST,NaN,Sunday,1,149,DAY,34.0642,-118.2570
1784,160211541,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,NaN,NaN,200 N BOYLSTON ST,NaN,Sunday,1,149,DAY,34.0642,-118.2570
2273,160211542,05/30/2016,05/30/2016,230,NaN,Rampart,295.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0416 0417 1218 2004 1814,...,NaN,NaN,VENICE,BURLINGTON,Monday,0,150,NIGHT,34.0426,-118.2814
3184,160211543,05/30/2016,05/29/2016,1955,NaN,Rampart,238.0,230.0,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",0906 0450,...,NaN,NaN,200 N BOYLSTON ST,NaN,Sunday,1,149,DAY,34.0642,-118.2570
22111,160211544,05/30/2016,05/29/2016,1845,NaN,Rampart,219.0,626.0,INTIMATE PARTNER - SIMPLE ASSAULT,2000 0444 1814,...,NaN,NaN,900 E EDGEWARE RD,NaN,Sunday,1,149,DAY,34.0698,-118.2528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417109,192104038,01/02/2019,12/01/2016,1200,NaN,Topanga,2175.0,354.0,THEFT OF IDENTITY,1822 0930,...,NaN,NaN,22100 BURBANK BL,NaN,Thursday,762,335,DAY,34.1720,-118.6084
417110,192104956,01/22/2019,01/01/2016,1,NaN,Topanga,2129.0,627.0,CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT,0913 0552 1258 1601,...,NaN,NaN,19900 LORNE ST,NaN,Friday,1117,0,NIGHT,34.2172,-118.5667
417111,192105356,01/31/2019,11/29/2016,1000,NaN,Topanga,2133.0,815.0,SEXUAL PENETRATION W/FOREIGN OBJECT,0515 0510 0913,...,NaN,NaN,7300 WOODLAKE AV,NaN,Tuesday,793,333,DAY,34.2023,-118.6322
417112,192106103,02/16/2019,08/01/2016,1,NaN,Topanga,2134.0,354.0,THEFT OF IDENTITY,0377 1822,...,NaN,NaN,22300 SATICOY ST,NaN,Monday,929,213,NIGHT,34.2083,-118.6125
417113,192106204,02/19/2019,12/01/2016,1300,NaN,Topanga,2185.0,310.0,BURGLARY,0344,...,NaN,NaN,22200 VENTURA BL,NaN,Thursday,810,335,DAY,34.1688,-118.6103

In [12]:
# Drop all NaN observations
# Drop the unnecessary

crimes_df = crimes_df[
    ["Time Occurred", "Crime Code", "Victim Age", "Day Occurred", "Days To Report", 
     "Day of Year", "Time of Day", "Location Lat", "Location Lng"]
]

crimes_df.dropna(inplace=True)

crimes_df

C:\Users\tyler\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Time Occurred,Crime Code,Victim Age,Day Occurred,Days To Report,Day of Year,Time of Day,Location Lat,Location Lng
2273,230,626.0,25.0,Monday,0,150,NIGHT,34.0426,-118.2814
22111,1845,626.0,41.0,Sunday,1,149,DAY,34.0698,-118.2528
22191,1700,900.0,24.0,Sunday,1,149,DAY,34.0586,-118.2691
23440,130,626.0,36.0,Monday,0,150,NIGHT,34.0444,-118.2809
23441,325,210.0,21.0,Monday,0,150,NIGHT,34.0776,-118.2616
...,...,...,...,...,...,...,...,...,...
417109,1200,354.0,30.0,Thursday,762,335,DAY,34.1720,-118.6084
417110,1,627.0,4.0,Friday,1117,0,NIGHT,34.2172,-118.5667
417111,1000,815.0,42.0,Tuesday,793,333,DAY,34.2023,-118.6322
417112,1,354.0,26.0,Monday,929,213,NIGHT,34.2083,-118.6125
417113,1300,310.0,58.0,Thursday,810,335,DAY,34.1688,-118.6103

In [13]:
# Write the output to a new file

with open("crime_data_edited.csv", "w") as f:
    f.write(crimes_df.to_csv(index=False))
    
with open("sunset_data.csv", "w") as f:
    f.write(sunset_df.to_csv(index=True))